            /* Configuración de fuentes */
@font-face{
    font-family: 'Angsana New';
    src: url(../font/ANGSA.ttf), url(../font/angsab.ttf);
}

@font-face{
    font-family: 'Franklin Gothic Book';
    src: url(../font/franklin-gothic-book.ttf), url(../font/franklin-gothic-book-italic.ttf);
}

@font-face{
    font-family: 'Franklin Gothic Heavy';
    src: url(../font/franklin-gothic-heavy.ttf);
}

@font-face{
    font-family: 'Franklin Gothic';
    src: url(../font/franklin-gothic-italic.ttf);
}

        /* Configuración de tranciciones */
.ent
{
    -webkit-animation: 1s animEnt ease-out;
}
@keyframes animEnt
{
    0%
    {
        opacity: 0;
        -webkit-transform: scale(0.1);
    }
    90%
    {
        opacity: 0.9;
        -webkit-transform: scale(1.15);
    }
    100%
    {
        opacity: 1;
        -webkit-transform: scale(1);
    }
}
.sal
{
    -webkit-animation: 1s animSal;
}
@keyframes animSal
{
    0%
    {
        opacity: 1;
        -webkit-transform: scale(1);
    }
    45%
    {
        opacity: 1;
        -webkit-transform: scale(1.15);
    }
    100%
    {
        opacity: 0;
        -webkit-transform: scale(0.1);
    }
}

            /* Configuración General HTML */
*{
    margin: 0px;
    padding: 0px;
}
*:focus{
    outline: none;
}

body{
    background: #e7e7e8;
}

.cuerpo{
    height: 100vh;
    display: flex;
    align-items: center;
    }
/* lo que quieres es View-port-height y View-port-width:
<div style="height: 50vh;width: 25vw"></div> */

            /* Configuración de cajas e internas */
.caja{
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
    height: 600px;
    background: #005883;
    overflow: hidden;
    box-shadow: #a3a3a3 0px 0px 30px 10px;
    /* box-shadow: 'color' 'des.hor' 'des.ver' 'difuminación' 'radio' */
}

.caja-cuerpo{
    width: 1000px;
    height: 560px;
    margin: 0px auto;
    padding-top: 40px;
}
.caja-cuerpo header{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
    color: #f0b52a;
    text-shadow: 5px 3px 3px #333333;
}
.caja-cuerpo header h4{
    line-height: 0.7em;
    margin-left: 400px;
    margin-right: auto;
    margin-bottom: 8px;
    width: 300px;
}
.caja-cuerpo header h1{
    line-height: 0.7em;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}
.caja-cuerpo section{
    width: 900px;
    margin: 20px auto 15px auto;
    text-align: justify;
    color: #ffffff;
    text-shadow: 0px 0px 0.5px #000000;
}
            /* Configuración de iconos SVG */
.icon{
    width: 80px;
    height: 80px;
    display: flex;
    text-align: center;
}

#home{
    float: left;
    margin-top: 12px;
    margin-left: 15px;
}
#back{
    float: left;
    transform: translate(0px,-180px);
    margin-left: 12px;
    /* position: absolute;
    bottom: 50%; */
}

.svg-home{
    width: 60px;
    height: 60px;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    fill: #f3f3f3;
    -webkit-transition: 0.3s ease-out;
}
.svg-back{
    width: 50px;
    height: 50px;
    margin-top: 3px;
    margin-right: 7px;
    fill: #f3f3f3;
    -webkit-transition: 0.3s ease-out;
}

            /* Configuración de botones */
button{
    -webkit-transition: 0.3s ease-out;
    background: none;
    border-radius: 50px;
    width: 80px;
    height: 80px;
    border: none;
}
button:hover{
    /* box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.5);  */
    /* rgba(0,0,0,0.5); #b3b3b3;*/
    background: #e2e2e2;
    cursor: pointer;
}
#btn_home:hover .svg-home{
    fill: #f47920;
    -webkit-transform: scale(0.9);
}
#btn_back:hover .svg-home{
    fill: #f0b429;
}
button:active{
    /* filter: grayscale(100%); Solo para imagenes */
    /* opacity: 0.6; la vuelve medio trasnparente*/
    filter: brightness(0.6); /* cambia luminosidad 0-1 */
    -webkit-transform: scale(0.79);
}

/* --------Tamaños de titulares H y texto p-------- */
h1{
    font-size: 6.8em;
    font-family: 'Franklin Gothic Heavy';
}

h2{
    font-size: 5em;
}

h3{
    font-size: 4em;
}

h4{
    font-size: 3em;
    font-family: 'Franklin Gothic Heavy';
}

p{
    font-size: 2em;
    font-family: 'Angsana New'; /* Angsana New | Franklin Gothic Book */
    line-height: 1em;
}

            /* Imagenes */
figure{
    overflow: hidden;
    z-index: 2;
}

#web-design{
    background: #9CC3E2;
    margin: 0px auto;
    height: 230px;
    width: 500px;
    position: relative;
}
#web-design img{
    position: absolute;
    -webkit-touch-callout: none;
    user-select: none;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    max-width: 70%;
}

            /* Franja inferior */
.caja-footer{
    background: #e1e0e0; /* #e1e0e0 #e7e7e8 */
    height: 70px;
    width: 100%;
    transform: translate(0px, -70px);
    display: inline-block;
}
.caja-footer #logo-unad{
    /* background: #E7E7E8; */
    margin-left: 25px;
    width: 250px;
    height: 70px;
    position: absolute;
}
.caja-footer #logo-unad img{
    -webkit-touch-callout: none;
    user-select: none;
    margin-top: 9px;
    margin-bottom: 9px;
    height: 52px;
}

#footer_c1{
    box-shadow: #f47920 0px -20px 0px;
}
#footer_c2{
    box-shadow: #f47920 0px -20px 0px;
}
#footer_c3{
    box-shadow: #f47920 0px -20px 0px;
}
#footer_c4{
    box-shadow: #f47920 0px -20px 0px;
}
#footer_c5{
    box-shadow: #f47920 0px -20px 0px;
}

            /* Configuracion cajas de audio */
.caja-audio{
    width: 250px;
    height: 70px;
}
.caja-audio audio{
    width: 250px;
    margin: 8px 0px;
}

#audio_c1{
    margin-right: 25px;
    position: absolute;
    right: 0px;
}
#audio_c2{
    margin-right: 25px;
    position: absolute;
    right: 0px;
}
#audio_c3{
    margin-right: 25px;
    position: absolute;
    right: 0px;
}
#audio_c4{
    margin-right: 25px;
    position: absolute;
    right: 0px;
}
#audio_c5{
    margin-right: 25px;
    position: absolute;
    right: 0px;
}