@font-face{
    font-family: 'Angsana New';
    src: url(../font/ANGSA.ttf), url(../font/angsab.ttf);
}

@font-face{
    font-family: 'Franklin Gothic Book';
    src: url(../font/franklin-gothic-book.ttf), url(../font/franklin-gothic-book-italic.ttf);
}

@font-face{
    font-family: 'Franklin Gothic Heavy';
    src: url(../font/franklin-gothic-heavy.ttf);
}

@font-face{
    font-family: 'Franklin Gothic';
    src: url(../font/franklin-gothic-italic.ttf);
}

*{
    margin: 0px;
    padding: 0px;
}

*:focus{
    outline: none;
}

body{
    background: #e7e7e8;
}

.cuerpo{
    /* width: 100vw; */
    height: 100vh;
    /* padding-top: 12px;
    padding-bottom: 12px; */
    display: flex;
    align-items: center;
    }

    /* lo que quieres es View-port-height y View-port-width:
    <div style="height: 50vh;width: 25vw"></div> */

.caja{
    /* margin-top: 12px;
    margin-bottom: 12px; */
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
    height: 600px;
    background: #005883;
    overflow: hidden;
    box-shadow: #a3a3a3 0px 0px 30px 10px;
    /* box-shadow: 'color' 'des.hor' 'des.ver' 'difuminación' 'radio' */
}

/* Configuración de iconos SVG */

.icon{
    /* background: aquamarine; */
    width: 80px;
    height: 80px;
    display: flex;
    text-align: center;
}
/* ----------------------- */
#home{
    float: left;
    margin-top: 12px;
    margin-left: 12px;
}

.svg-home{
    width: 60px;
    height: 60px;
    margin-top: 5px;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: 11px;
} 

.home-icon #techo-home{
    fill: #f3f3f3;
}

.home-icon #base-home{
    fill: #f3f3f3;
}
/* ----------------------- */
#back{
    float: left;
    transform: translate(0px,-180px);
    margin-left: 12px;
    /* position: absolute;
    bottom: 50%; */
}

.svg-back{
    width: 60px;
    height: 60px;
    margin: auto;
}

.back-icon{
    fill: #f3f3f3;
}

/* Fin de Configuración de iconos SVG */
#caja_1{
    /* text-align: center; */
}

.caja-cuerpo{
    width: 1000px;
    height: 560px;
    margin: 0px auto;
    padding-top: 40px;
}
.caja-cuerpo header{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
    color: #f0b52a;
    text-shadow: 5px 3px 3px #333333;
}
.caja-cuerpo header h4{
    line-height: 0.7em;
    margin-left: 400px;
    margin-right: auto;
    margin-bottom: 8px;
    width: 300px;
}
.caja-cuerpo header h1{
    line-height: 0.7em;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}
.caja-cuerpo section{
    width: 900px;
    margin: 20px auto 15px auto;
    text-align: justify;
    color: #ffffff;
    text-shadow: 0px 0px 0.5px #000000;
}
/* --------Tamaños de titulares H y texto p-------- */
h1{
    font-size: 6.8em;
    font-family: 'Franklin Gothic Heavy';
}

h2{
    font-size: 5em;
}

h3{
    font-size: 4em;
}

h4{
    font-size: 3em;
    font-family: 'Franklin Gothic Heavy';
}

p{
    font-size: 2em;
    font-family: 'Angsana New'; /* Angsana New | Franklin Gothic Book */
    line-height: 1em;
}

/* Imagen inicial Caja_1*/
#web-design{
    background: #9CC3E2;
    margin: 0px auto;
    height: 230px;
    width: 500px;
    overflow: hidden;
    position: relative;
    z-index: 2;
}
#web-design img{
    position: absolute;
    -webkit-touch-callout: none;
    user-select: none;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    max-width: 70%;
}

/* Franja inferior Caja_1 */
.caja-footer{
    background: #e7e7e8;
    height: 70px;
    width: 100%;
    transform: translate(0px, -150px);
    display: inline-block;
    box-shadow: #f47920 0px -20px 0px;
}
.caja-footer #logo-unad{
    /* background: #E7E7E8; */
    margin-left: 25px;
    width: 250px;
    height: 70px;
    position: absolute;
}
.caja-footer #logo-unad img{
    -webkit-touch-callout: none;
    user-select: none;
    margin-top: 9px;
    margin-bottom: 9px;
    height: 52px;
}

.caja-audio{
    margin-right: 25px;
    width: 250px;
    height: 70px;
    position: absolute;
    right: 0px;
}
.caja-audio audio{
    width: 250px;
    margin: 8px 0px;
}